addict==2.4.0
fastapi==0.141.1
igraph==1.0.0
ImageIO==2.37.4
lightning==2.6.6
matplotlib==3.11.2
networkx==3.6.1
opencv-python-headless==5.0.0.93
PyYAML==6.0.3
rtree==1.4.1
scikit-learn==1.9.1
scipy==1.18.1
tcod==21.2.1
torchmetrics==1.9.0
uvicorn==0.54.0
wandb==0.30.0
